.auth {
  background-image: linear-gradient(
      to right,
      rgba(44, 44, 44, 0.8),
      rgba(5, 5, 5, 0.9)
    ),
    url('./assets/background.jpg');
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
  padding-top: 25vh;
}

.auth * {
  margin: 0;
}

.auth .title {
  text-align: center;
}

.auth h1 {
  font-size: 45px;
}

.auth h3 {
  font-size: 25px;
}
.spinner {
  text-align: center;
}

.auth-form {
  width: 350px;
  margin: auto;
}

.overflow {
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.add-course-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0;
  border-radius: 50%;
}

.tooltip {
  background: transparent;
}

.tooltip .arrow::before {
  border-left-color: #253852;
}

.tooltip-inner {
  background: #253852;
}
